<h1>{{title}}</h1>
<div class="inset">
    {{#each items}}
            <p>
                <label class="title">{{ this.key }} : </label>
                {{#if url}}
                    <a href="{{ this.url }}">{{ this.value }}</a>
                {{else}}
                    {{ this.value }}
                {{/if}}
            </p>
    {{/each}}
</div>
