<h1>{{title}}</h1>
<div class="inset">
	{{#each items}}
	        <p>
	            <label>{{ this.title }} </label> - {{ this.desc }}
	        </p>
	        <p class="inset">
	            <a href="{{ this.url }}">{{ this.texturl }}</a>
	        </p>
	{{/each}}
</div>
