<h1>Experience</h1>
<div class="inset experience">
    {{#withSort experience 'data.startdate'}}
        {{#each this.pages }}
            <h3>
				{{this.data.position}} @ <span class="company">{{this.data.client}}</span>
				<span class="date">{{this.data.startdate}} - {{this.data.enddate}}</span>
			</h3>

            <div>
                {{#markdown}}
                    {{page}}
                {{/markdown}}
            </div>
        {{/each}}
    {{/withSort}}
</div>
